/*--------------------------------------------------------

 Web Font Definition

--------------------------------------------------------*/


@font-face {
	font-family: 'metro-icons';
	src: url('metro-icons-fixed-2000-webfont.ttf') format('truetype');
}

.icon {
	font-family: 'metro-icons';
}

/*--------------------------------------------------------

 HTML Element Style Over Wright

--------------------------------------------------------*/

html,
body {
	height: 100%;
}

body {
	color: #333;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 13px;
	line-height: 1.3;
    -webkit-touch-callout:none;
}

a:link,
a:visited {
	color: #24A0DA;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

body, div, p, th, td {
	word-wrap: break-word;
	word-break: break-all;
}

/*--------------------------------------------------------

 Layout

--------------------------------------------------------*/

/*--------------------------------------------------------
 header
--------------------------------------------------------*/
header {
	padding: 24px 70px 0;
}

@media screen and (max-width: 480px) {
	header {
		padding: 10px 5px 0 10px;
	}
}

header div.leftCol {
	float: left;
}

header h1 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: normal;
	margin-top: 5px;
}

header h1 a:link,
header h1 a:visited {
	color: #333;
	text-decoration: none;
}

@media screen and (max-width: 480px) {
	header h1 {
		font-size: 20px;
	}
}

header div.rightCol {
	float: right;
	margin-top: 4px;
}

@media screen and (max-width: 480px) {
	header div.rightCol {
		margin-top: 8px;
	}
}

/* #account */
div#account {
}

div#account a {
	color: #5A5A5A;
	display: inline-block;
	float: left;
	text-decoration: none;
	padding-left: 10px;
}

div#account a:hover {
	color: #000;
}

div#account hr {
	border-left: 1px solid #5A5A5A;
	float: left;
	margin: 0;
	height: 40px;
}

@media screen and (max-width: 480px) {
	div#account hr {
		height: 20px;
	}
}

div#account div.accountName {
	float: left;
	font-size: 18px;
	margin-right: 10px;
	text-align: left;
}

@media screen and (max-width: 480px) {
	div#account div.accountName {
		font-size: 12px;
	}
}

div#account div.accountName span.name {
	display: table-cell;
	height: 41px;
	vertical-align: middle;
}

@media screen and (max-width: 480px) {
	div#account div.accountName span.name {
		height: 24px;
	}
}

div#account div.iconWrapper {
	float: left;
}

div#account div.iconWrapper span.icon,
div#account div.setting span.icon {
	font-size: 60px;
	height: 45px;
	line-height: 40px;
	width: 45px;
}

@media screen and (max-width: 480px) {
	div#account div.iconWrapper span.icon,
	div#account div.setting span.icon {
		font-size: 34px;
		height: 20px;
		line-height: 24px;
		width: 20px;
	}
}

div#account div.setting {
}

div#account div.setting span.icon {
	display: inline-block;
	overflow: hidden;
	width: 40px;
}

div#account div.setting span.text {
	display: inline-block;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding-top: 8px;
	vertical-align: top;
}

@media screen and (max-width: 480px) {
	div#account div.setting span.icon {
		height: 24px;
		width: 23px;
	}
	div#account div.setting span.text {
		font-size: 14px;
		padding-top: 2px;
	}
}

/*--------------------------------------------------------
 div#main
--------------------------------------------------------*/
div#main {
	padding: 0 70px 40px;
	position: relative;
}

@media screen and (max-width: 480px) {
	div#main {
		padding: 0 15px 30px;
		width: 290px;
	}
}

/*--------------------------------------------------------
 section#mainMenu
--------------------------------------------------------*/
section {
	margin-top: 30px;
}

@media screen and (max-width: 480px) {
	section {
		margin-top: 15px;
	}
}

section#mainMenu div.menuList {
}

/*--------------------------------------------------------
 div.menuList
--------------------------------------------------------*/
div.menuList {
	margin: 0 auto;
	width: 520px;
}

@media screen and (max-width: 480px) {
	div.menuList {
		margin: 0 auto;
		width: 290px;
	}
}

div.menuList ul {
	list-style: none;
	margin-left: -10px;
}

div.menuList ul:after {
	clear: left;
	content: "";
	display: block;
}

div.menuList ul li {
	display: block;
	float: left;
	height: 250px;
	margin: 0 0 10px 10px;
	position: relative;
	width: 250px;
}

@media screen and (max-width: 480px) {
	div.menuList ul li {
		height: 140px;
		width: 140px;
	}
}

div.menuList ul li:hover {
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	z-index: 5;
}

@media screen and (max-width: 480px) {
	div.menuList ul li:hover {
		transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
	}
}

div.menuList ul li {
	transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

div.menuList ul li a {
	color: #FFF;
	display: block;
	height: 100%;
	position: relative;
	text-decoration: none;
	width: 100%;
}

div.menuList ul li a.bgBlue {
	background: #0095cd;
}

/* green */
div.menuList ul li a.bgGreen {
	background: #6ba134;
}

/* red */
div.menuList ul li a.bgRed {
	background: #e94d31;
}

/* yellow */
div.menuList ul li a.bgYellow {
	background: #ffc20a;
}

div.menuList ul li a div.iconWrapper {
	overflow: hidden;
	padding: 30px 0 0;
	text-align: center;
}

div.menuList ul li a div.iconWrapper span.icon {
	font-size: 200px;
	left: 20px;
	line-height: 140px;
	position: relative;
}

@media screen and (max-width: 480px) {
	div.menuList ul li a div.iconWrapper span.icon {
		font-size: 120px;
		left: 15px;
		line-height: 60px;
	}
}

div.menuList ul li a div.textWrapper {
	height: 30px;
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
}

@media screen and (max-width: 480px) {
	div.menuList ul li a div.textWrapper {
		height: 20px;
		margin-top: 10px;
	}
}

div.menuList ul li a:hover div.textWrapper p.mainText,
div.menuList ul li a:hover div.textWrapper p.subText {
	top: -30px;
}

@media screen and (max-width: 480px) {
	div.menuList ul li a:hover div.textWrapper p.mainText,
	div.menuList ul li a:hover div.textWrapper p.subText {
		top: 0;
	}
}

div.menuList ul li a div.textWrapper p.mainText,
div.menuList ul li a div.textWrapper p.subText {
	transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

div.menuList ul li a div.textWrapper p.mainText {
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	position: relative;
}

@media screen and (max-width: 480px) {
	div.menuList ul li a div.textWrapper p.mainText {
		font-size: 16px;
		height: 20px;
		line-height: 20px;
	}
}

div.menuList ul li a div.textWrapper p.subText {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	position: relative;
}

@media screen and (max-width: 480px) {
	div.menuList ul li a div.textWrapper p.subText {
		font-size: 12px;
		height: 20px;
		line-height: 20px;
	}
}

/*--------------------------------------------------------

 Heading Level

--------------------------------------------------------*/

/*--------------------------------------------------------
 h2
--------------------------------------------------------*/
h2 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	margin: 30px 0 15px;
}

/*--------------------------------------------------------

 Basic Compornent

--------------------------------------------------------*/

/*--------------------------------------------------------
 button
--------------------------------------------------------*/
.button {
	background: #333;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #fff;
	display: inline-block;
	height: 36px;
	overflow: hidden;
	padding: 10px 15px 0;
	text-decoration: none;
	text-align: center;
}

.button,
a.button {
	color: #fff;
	text-decoration: none;
}

/* color */
.button.correct {
	background: #0072BC;
}

.button.cansel {
	background: #666;
}

.button .textWrapper {
	top: 0px;
	overflow: hidden;
	position: relative;
}

.button .textWrapper p.largeText,
.button .textWrapper p.subText {
	height: 36px;
}

.button.correct:hover,
.button.cansel:hover {
	outline: 3px #225a68 solid;
}

.button .textWrapper,
.button:hover .textWrapper,
.button:focus .textWrapper {
	transition: top 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: top 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: top 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.button:hover .textWrapper,
.button:focus .textWrapper {
	top: -36px;
}

/*--------------------------------------------------------
 inline list
--------------------------------------------------------*/
ul.inlineList {
}

ul.inlineList li {
	display: inline-block;
}

/*--------------------------------------------------------
 button content
--------------------------------------------------------*/
div.buttonContent {
	margin-top: 20px;
}

div.buttonContent ul {
	text-align: center;
}

div.buttonContent ul li {
	margin-left: 25px;
}

div.buttonContent ul li:first-child {
	margin: 0;
}

div.buttonContent ul li .button {
	min-width: 100px;
}

/*--------------------------------------------------------
 checkbox
--------------------------------------------------------*/
.checkbox {
}

/*--------------------------------------------------------

 Unique Parts

--------------------------------------------------------*/

/*--------------------------------------------------------
 .pageBack
--------------------------------------------------------*/
.pageBack {
	font-size: 70px;
	left: 10px;
	line-height: 30px;
	margin: 0;
	position: absolute;
	top: 0;
}

@media screen and (max-width: 480px) {
	.pageBack {
		display: none;
	}
}

.pageBack a {
	color: #5A5A5A;
	text-decoration: none;
}

.pageBack a:hover {
	color: #000;
}

/*--------------------------------------------------------
 dataTable
--------------------------------------------------------*/

/* table.dataTableHead */
table.dataTableHead {
	border-bottom: 1px solid #BEBEBE;
}

table.dataTableHead th {
	color: #24A0DA;
	font-weight: bold;
}

/* table.dataTableBody */
table.dataTableBody {
	margin-top: 5px;
}

table.dataTableHead,
table.dataTableBody {
	table-layout: fixed;
	width: 100%;
}

table.dataTableHead th,
table.dataTableBody td {
	font-size: 14px;
}

table.dataTableHead th {
}

table.dataTableBody tr {
	cursor: pointer;
}

table.dataTableBody tr td {
}

table.dataTableBody tr td span.num,
table.dataTableBody tr td span.text {
	display: block;
	position: relative;
}

table.dataTableBody tr.onOver td span.num,
table.dataTableBody tr.onOver td span.text {
	font-weight: bold;
	left: -1em;
}

table.dataTableBody tr.onOver td span.num {
	font-size: 16px;
}

table.dataTableBody tr td span.num,
table.dataTableBody tr td span.text {
	transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

@media screen and (max-width: 480px) {
	table.dataTableBody tr.onOver td span.num,
	table.dataTableBody tr.onOver td span.text {
		font-weight: bold;
		left: 0;
	}

	table.dataTableBody tr.onOver td span.num {
		font-size: 100%;
	}
}

table.dataTableBody td {
}

@media screen and (max-width: 480px) {
	div#registerTable {
		margin: 0 -10px 0;
	}
}

/* div#registerTable */
div#registerTable table.dataTableHead th,
div#registerTable table.dataTableBody td {
	width: 20%;
}

@media screen and (max-width: 480px) {
	div#registerTable table.dataTableHead th,
	div#registerTable table.dataTableBody td {
		font-size: 12px;
		line-height: 1.5;
	}
}

@media screen and (max-width: 480px) {
	div#registerTable table.dataTableBody td {
		padding: 5px 3px;
	}
}

div#registerTable table.dataTableHead th.name,
div#registerTable table.dataTableBody td.name {
	width: 250px;
}

@media screen and (max-width: 480px) {
	div#registerTable table.dataTableHead th.name,
	div#registerTable table.dataTableBody td.name {
		width: 80px;
	}
}

div#registerTable table.dataTableHead th.division,
div#registerTable table.dataTableBody td.division {
	text-align: center;
	width: 80px;
}

@media screen and (max-width: 480px) {
	div#registerTable table.dataTableHead th.division,
	div#registerTable table.dataTableBody td.division {
		display: none;
	}
}

div#registerTable table.dataTableHead th.type,
div#registerTable table.dataTableBody td.type {
	text-align: center;
	width: 100px;
}

@media screen and (max-width: 480px) {
	div#registerTable table.dataTableHead th.type,
	div#registerTable table.dataTableBody td.type {
		width: 80px;
	}
}

div#registerTable table.dataTableHead th.memo,
div#registerTable table.dataTableBody td.memo {
	width: auto;
}

/* div#aggregateTable */
div#aggregateTable table.dataTableHead th,
div#aggregateTable table.dataTableBody td {
	text-align: center;
	width: 13%;
}

div#aggregateTable table.dataTableHead th.date,
div#aggregateTable table.dataTableBody td.date {
	color: #24A0DA;
	font-weight: bold;
	padding-left: 20px;
	width: 110px;
}

div#aggregateTable table.dataTableHead th.total,
div#aggregateTable table.dataTableBody td.total {
	color: #bc1c48;
	padding-right: 20px;
	text-align: right;
	width: auto;
}

div#aggregateTable table.dataTableBody th,
div#aggregateTable table.dataTableBody td {
	height: 20px;
}

/*--------------------------------------------------------
 registerForm
--------------------------------------------------------*/
div.registerForm {
	margin: 0 auto;
	width: 500px;
}

@media screen and (max-width: 480px) {
	div.registerForm {
		margin: 0 auto;
		width: 290px;
	}
}

/* div.inputForm */
div.inputForm {
}

div.inputForm div.item {
	background: #ddd;
}

div.inputForm div.item:after {
	clear: both;
	content: "";
	display: block;
}

div.inputForm div.item.setHide {
	display: none;
}

div.inputForm div.item div.title {
	float: left;
	height: 50px;;
	line-height: 50px;
	position: relative;
	text-align: center;
	width: 50px;
}

div.inputForm div.item div.title span.arrow {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-left-color: #ddd;
	left: 0;
	top: 15px;
}

div.inputForm div.item.active div.title span.arrow,
div.inputForm div.item.error div.title span.arrow {
	left: 100%;
}

div.inputForm div.item div.title span.arrow,
div.inputForm div.item.active div.title span.arrow {
	transition: left 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: left 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: left 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

div.inputForm div.item div.title div.iconWrapper {
	height: 50px;;
	overflow: hidden;
}

div.inputForm div.item div.title div.iconWrapper span.icon {
	color: #999;
	display: block;
	font-size: 40px;
	height: 55px;
	left: 4px;
	position: relative;
	top: 0;
	z-index: 5;
}

div.inputForm div.item div.title div.iconWrapper span.icon.circle {
	font-size: 35px;
	left: 2px;
}

div.inputForm div.item.error div.title div.iconWrapper span.icon {
	color: #E74C3C;
}

div.inputForm div.item div.title div.iconWrapper span.icon.active {
	color: #00a185;
}

div.inputForm div.item.active div.title div.iconWrapper span.icon {
	top: -55px;
}

div.inputForm div.item div.title div.iconWrapper span.icon,
div.inputForm div.item.active div.title div.iconWrapper span.icon {
	transition: top 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: top 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: top 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

div.inputForm div.item div.form {
	background: #ECF0F1;
	min-height: 50px;
	overflow: hidden;
	padding-left: 20px;
}

div.inputForm div.item div.form input.inputText,
div.inputForm div.item div.form textarea.inputText {
	background: none;
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 0;
	outline: 0;
	overflow: hidden;
	padding-left: 0;
	padding-right: 10px;
	width: 100%;
}

div.inputForm div.item div.form span.text {
	display: block;
	font-size: 16px;
	line-height: 30px;
	margin: 10px 0 0;
	outline: 0;
	overflow: hidden;
	padding-right: 10px;
	width: 100%;
}

div.inputForm div.item.active div.form input.inputText::-webkit-input-placeholder,
div.inputForm div.item.active div.form textarea.inputText::-webkit-input-placeholder,
div.inputForm div.item div.form a.customSelect:focus,
div.inputForm div.item.error div.form input.inputText::-webkit-input-placeholder,
div.inputForm div.item.error div.form textarea.inputText::-webkit-input-placeholder,
div.inputForm div.item.error div.form a.customSelect {
	color: #e74c3c;
}

div.inputForm div.item div.form input.inputText::-webkit-input-placeholder,
div.inputForm div.item div.form textarea.inputText::-webkit-input-placeholder,
div.inputForm div.item.active div.form input.inputText::-webkit-input-placeholder,
div.inputForm div.item.active div.form textarea.inputText::-webkit-input-placeholder,
div.inputForm div.item div.form a.customSelect,
div.inputForm div.item div.form a.customSelect:focus {
	-webkit-transition: color 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

div.inputForm div.item div.form input.inputText:-moz-placeholder,
div.inputForm div.item div.form textarea.inputText:-moz-placeholder {
	color: #e74c3c;
}

div.inputForm div.item div.form textarea.inputText {
	resize: none;
}

div.inputForm div.item div.form textarea,
div.inputForm div.item div.form textarea:focus {
	transition: height 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: height 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: height 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

div.inputForm div.item div.form textarea:focus {
	height: 100px;
}

div.inputForm div.item div.form select.selectMenu {
	background: none;
	border: 0;
	color: #A6A6A6;
	display: block;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 0;
	-webkit-appearance: none;
}

div.inputForm div.item div.form select.selectMenu.setHide {
	display: none;
}

div.inputForm div.item div.form a.customSelect {
	color: #A6A6A6;
	display: block;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 0;
	outline: 0;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (max-width: 480px) {
	div.inputForm div.item div.form a.customSelect {
		width: 220px;
	}
}

div.inputForm div.item div.form a.customSelect.selected {
	color: #000;
}

div.inputForm div.item div.form div.customSelectBox {
	background: #FFF;
	border: 1px solid #CECECE;
	display: block;
	min-width: 200px;
	opacity: 1;
	position: absolute;
	z-index: 5;
}

div.inputForm div.item div.form div.customSelectBox.setHide {
	display: none;
}

div.inputForm div.item div.form div.customSelectBox,
div.inputForm div.item div.form div.customSelectBox.setHide {
	-webkit-transition: opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

div.inputForm div.item div.form div.customSelectBox ul.customSelectList {
	list-style: none;
}

div.inputForm div.item div.form div.customSelectBox ul.customSelectList li {
	cursor: pointer;
	font-size: 16px;
	padding: 5px 5px 5px 5px;
	position: relative;
	text-indent: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (max-width: 480px) {
	div.inputForm div.item div.form div.customSelectBox ul.customSelectList li {
		max-width: 220px;
	}
}

div.inputForm div.item div.form div.customSelectBox ul.customSelectList li span.checked {
	display: none;
}

div.inputForm div.item div.form div.customSelectBox ul.customSelectList li:hover,
div.inputForm div.item div.form div.customSelectBox ul.customSelectList li.selected {
	background: #E74C3C;
	color: #FFF;
}

div.inputForm div.item div.form div.customSelectBox ul.customSelectList li.selected span.checked {
	color: #FFF;
	display: block;
	font-size: 20px;
	left: -0.6em;
	position: absolute;
	top: 0.15em;
}

/* div.tools */
div.inputForm div.tools {
	margin: 20px 20px 0;
}

/* div.submitButton */
div.submitButton {
	height: 0;
	overflow: hidden;
}

/*--------------------------------------------------------
 date picker
--------------------------------------------------------*/
/* reset style */
.ui-widget-header {
	background: none;
	border: 0;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: none;
	border: 0;
}
.ui-datepicker-header .ui-datepicker-prev.ui-state-hover {
	left: 2px;
	top: 2px;
}
.ui-datepicker-header .ui-datepicker-next.ui-state-hover {
	right: 2px;
	top: 2px;
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: none;
	border: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

/* style overwrite */
div.ui-widget-content  div.ui-datepicker-title {
	color: #24A0DA;
}

div.ui-widget-content table.ui-datepicker-calendar tr th:first-child,
div.ui-widget-content table.ui-datepicker-calendar tr td:first-child a {
	color: #E74C3C;
	display: block;
}

div.ui-widget-content table.ui-datepicker-calendar tr th:last-child,
div.ui-widget-content table.ui-datepicker-calendar tr td:last-child a {
	color: #2980B9;
}

div.ui-widget-content table.ui-datepicker-calendar tr td a.ui-state-highlight {
	background: #E74C3C;
	color: #fff;
}

div.ui-widget-content table.ui-datepicker-calendar tr td a.ui-state-hover {
	background: #E74C3C;
	color: #fff;
}

/*--------------------------------------------------------
 input Check
--------------------------------------------------------*/
input.inputCheck {
}

input.inputCheck:checked {
}

input.inputCheck.setHide {
	display: none;
}

/* .checkLable */
label.checkLabel {
	cursor: pointer;
	font-size: 16px;
}

label.checkLabel span.iconWrapper {
	border: 2px solid #CCC;
	display: inline-block;
	text-align: center;
	height: 15px;
	margin: 0 8px 0 0;
	position: relative;
	top: -1px;
	vertical-align: bottom;
	width: 15px;
}

label.checkLabel span.iconWrapper i.icon {
	color: #00a185;
	font-size: 40px;
	left: -5px;
	opacity: 0;
	position: absolute;
	top: -21px;
	transition: opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: opacity 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

label.checkLabel.checked span.iconWrapper i.icon {
	animation: anime 0.3s ease;
	-moz-animation: anime 0.3s ease;
	-webkit-animation: anime 0.3s ease;
	opacity: 1;
}
@keyframes 'anime' {
	0% {
		transform: scale(3);
	}
	100% {
		transform: scale(1);
	}
}

@-moz-keyframes 'anime' {
	0% {
		-moz-transform: scale(3);
	}
	100% {
		-moz-transform: scale(1);
	}
}

@-webkit-keyframes 'anime' {
	0% {
		-webkit-transform: scale(3);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

/*--------------------------------------------------------
 input Radio
--------------------------------------------------------*/
/* .inputRadioGroup */
div.inputRadioGroup {
	margin: 20px 0;
	position: relative;
}

div.inputRadioGroup p {
	font-size: 16px;
	margin: 20px 10px 0;
}

div.inputRadioGroup p:first-child {
	margin-top: 0;
}

/* label.radioLabel */
label.radioLabel {
	color: #ccc;
	cursor: pointer;
	padding: 5px 0 0 40px;
	position: relative;
	transition: color 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: color 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: color 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

label.radioLabel:before {
	border-left: 1px solid #CCC;
	content: "";
	display: block;
	height: 20px;
	position: absolute;
	left: 13px;
	top: -15px;
	width: 1px;
	z-index: 3;
}

div.inputRadioGroup p:first-child label.radioLabel:before {
	display: none;
}

label.radioLabel span.iconWrapper {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 24px;
	display: inline-block;
	height: 24px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
	z-index: 5;
	transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

label.radioLabel span.iconWrapper i.icon {
	background: #fff;
	border-radius: 20px;
	display: inline-block;
	height: 20px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 20px;
	transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

label.radioLabel input.inputRadio {
}

/* label.radioLabel:hover */
label.radioLabel:hover {
	color: #333;
}

label.radioLabel:hover span.iconWrapper {
	border-color: #ffc20a;
}

label.radioLabel:hover span.iconWrapper i.icon {
}

label.radioLabel input.setHide {
	display: none;
}

/* label.radioLabel.selected */
label.radioLabel.selected {
	color: #333;
}

label.radioLabel.selected span.iconWrapper {
	border-color: #ffc20a; 
}

label.radioLabel.selected span.iconWrapper i.icon {
	background: #ffc20a;
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}

/*--------------------------------------------------------

 Clear Fix

--------------------------------------------------------*/

header:after,
div#account:after,
div#account:after,
section#mainMenu ul:after,
.tile.textWrap:after {
	clear: both;
	content: "";
	display: block;
}
